.add-todo--container {
  width: 90%;
  margin: 0 auto;
  .child-a {
    position: relative;
    border: 1px solid #c7c7c7;
    padding: 5px;
  }

  .ca-child-a {
    border: none;
    width: 90%;
  }

  .ca-child-a:focus {
    outline: none;
  }

  .ca-child-b {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}
