.todo-list--container * {
  border: 1px solid black;
}
.todo-list--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .child-a--tlc {
    flex: 0 0 48%;
  }
  .child-b--tlc {
    flex: 0 0 48%;
  }
}
